.save {
  height: 1.306634rem;
  background-color: #ff9916;
  line-height: 1.306634rem;
  position: relative;
}
.save .text {
  text-align: center;
}
.save .text a {
  color: #fff;
}
[data-dpr='1'] .save .text {
  font-size: 26px;
}
[data-dpr='2'] .save .text {
  font-size: 52px;
}
[data-dpr='3'] .save .text {
  font-size: 78px;
}
.save .pic {
  position: absolute;
  bottom: 0;
  right: 0;
}
.save .pic .img {
  height: 0.906644rem;
}
.product {
  background-color: #fff;
}
.product a {
  display: inline-block;
  width: 100%;
}
.product a .pro-main {
  height: 3.73324rem;
  padding: 0.39999rem 0.39999rem;
  border-bottom: 1px solid #E1E1E1;
}
.product a .pro-main .pic {
  width: 2.6666rem;
  height: 2.6666rem;
  float: left;
  margin-right: 0.13333rem;
}
.product a .pro-main .pic img {
  width: 2.6666rem;
  height: 2.6666rem;
}
.product a .pro-main .price {
  margin-left: 3.46658rem;
}
.product a .pro-main .price .priceM {
  color: red;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.product a .pro-main .price p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: 700;
  margin-top: 0.26666rem;
}
[data-dpr='1'] .product a .pro-main .price p {
  font-size: 14px;
}
[data-dpr='2'] .product a .pro-main .price p {
  font-size: 28px;
}
[data-dpr='3'] .product a .pro-main .price p {
  font-size: 42px;
}
.product a .pro-main .price .time {
  height: 0.66665rem;
  line-height: 0.66665rem;
  margin-top: 0.53332rem;
  color: #A9A899;
}
.product a .pro-main .price .time span {
  color: red;
}
.product a .pro-main .price .time span.num {
  color: #000;
  margin-left: 0.026666rem;
}
[data-dpr='1'] .product a .pro-main .price .time span.num {
  font-size: 14px;
}
[data-dpr='2'] .product a .pro-main .price .time span.num {
  font-size: 28px;
}
[data-dpr='3'] .product a .pro-main .price .time span.num {
  font-size: 42px;
}
.bottom {
  height: 3.226586rem;
}
.bottom > .dl {
  margin-top: 0.706649rem;
  height: 0.839979rem;
  width: 100%;
  border-bottom: 1px solid #C7C7C7;
  border-top: 1px solid #C7C7C7;
  position: relative;
}
.bottom > .dl > div {
  width: 1px;
  background-color: #C7C7C7;
  height: 100%;
  position: absolute;
  top: 0;
  left: 30%;
}
.bottom > .dl > div.line {
  left: 60%;
}
.bottom > .dl > span {
  display: inline-block;
  height: 100%;
  width: 30%;
  text-align: center;
  line-height: 0.839979rem;
}
[data-dpr='1'] .bottom > .dl > span {
  font-size: 16px;
}
[data-dpr='2'] .bottom > .dl > span {
  font-size: 32px;
}
[data-dpr='3'] .bottom > .dl > span {
  font-size: 48px;
}
.bottom > .dl > span.back {
  width: 38%;
  float: right;
}
.bottom > .dl > span.back a {
  display: inline-block;
}
.bottom > .top {
  margin-top: 0.346658rem;
  text-align: center;
}
[data-dpr='1'] .bottom > .top {
  font-size: 16px;
}
[data-dpr='2'] .bottom > .top {
  font-size: 32px;
}
[data-dpr='3'] .bottom > .top {
  font-size: 48px;
}
.bottom > .top span {
  color: red;
}
[data-dpr='1'] .bottom > .top span {
  font-size: 20px;
}
[data-dpr='2'] .bottom > .top span {
  font-size: 40px;
}
[data-dpr='3'] .bottom > .top span {
  font-size: 60px;
}
.bottom > .man {
  margin-top: 0.13333rem;
  text-align: center;
}
.page {
  height: 1.253302rem;
  background-color: #fff;
}
.page .le {
  width: 33.333%;
  margin-top: 0.199995rem;
}
.page .le button {
  margin-left: 0.66665rem;
  width: 2.159946rem;
  height: 0.906644rem;
  border-radius: 5px;
  box-shadow: 2px 2px 1px #CCCCCC;
}
[data-dpr='1'] .page .le button {
  font-size: 16px;
}
[data-dpr='2'] .page .le button {
  font-size: 32px;
}
[data-dpr='3'] .page .le button {
  font-size: 48px;
}
.page .center {
  margin-top: 0.199995rem;
  width: 33.333%;
}
.page .center select {
  margin-left: 0.66665rem;
  width: 1.99995rem;
  height: 0.93331rem;
  text-indent: 0.26666rem;
}
[data-dpr='1'] .page .center select {
  font-size: 26px;
}
[data-dpr='2'] .page .center select {
  font-size: 52px;
}
[data-dpr='3'] .page .center select {
  font-size: 78px;
}
.page .ri {
  margin-top: 0.199995rem;
  width: 33.333%;
}
.page .ri button {
  margin-left: 0.66665rem;
  width: 2.159946rem;
  height: 0.906644rem;
  border-radius: 5px;
  box-shadow: 2px 2px 1px #CCCCCC;
}
[data-dpr='1'] .page .ri button {
  font-size: 16px;
}
[data-dpr='2'] .page .ri button {
  font-size: 32px;
}
[data-dpr='3'] .page .ri button {
  font-size: 48px;
}
