.save {
  height: 1.306634rem;
  width: 100%;
  background-color: #ff9916;
  padding: 0 0.13333rem;
}
.save a {
  display: inline-block;
  height: 1.306634rem;
  width: 100%;
}
.save a p {
  height: 1.306634rem;
  line-height: 1.306634rem;
  margin-right: 0.79998rem;
  margin-left: 0.79998rem;
  color: #fff;
  text-align: center;
}
[data-dpr='1'] .save a p {
  font-size: 22px;
}
[data-dpr='2'] .save a p {
  font-size: 44px;
}
[data-dpr='3'] .save a p {
  font-size: 66px;
}
.save a .left {
  width: 0.66665rem;
  height: 1.306634rem;
  line-height: 1.306634rem;
  color: #fff;
  font-family: 'simsun';
  text-align: center;
}
[data-dpr='1'] .save a .left {
  font-size: 28px;
}
[data-dpr='2'] .save a .left {
  font-size: 56px;
}
[data-dpr='3'] .save a .left {
  font-size: 84px;
}
.save a .right {
  height: 1.306634rem;
  line-height: 1.306634rem;
}
.save a .right img {
  width: 0.93331rem;
}
.product {
  width: 100%;
  height: 22.6661rem;
  padding: 0.26666rem 1.093306rem;
  background-color: #fff;
}
.product .proMain {
  height: 100%;
  width: 6.6665rem;
}
.product .proMain .left a {
  display: inline-block;
  height: 1.119972rem;
  background-color: #F4F4F4;
  border: 1px solid #B4B4B4;
  line-height: 1.119972rem;
  text-align: center;
  padding: 0 0.186662rem;
  margin-right: 0.199995rem;
  margin-top: 0.199995rem;
  font-weight: 700;
}
[data-dpr='1'] .product .proMain .left a {
  font-size: 14px;
}
[data-dpr='2'] .product .proMain .left a {
  font-size: 28px;
}
[data-dpr='3'] .product .proMain .left a {
  font-size: 42px;
}
.product .proMain .left a img {
  margin-right: 0.199995rem;
}
.bottom {
  height: 3.226586rem;
}
.bottom > .dl {
  height: 0.839979rem;
  width: 100%;
  border-bottom: 1px solid #C7C7C7;
  border-top: 1px solid #C7C7C7;
  position: relative;
}
.bottom > .dl > div {
  width: 1px;
  background-color: #C7C7C7;
  height: 100%;
  position: absolute;
  top: 0;
  left: 30%;
}
.bottom > .dl > div.line {
  left: 60%;
}
.bottom > .dl > span {
  display: inline-block;
  height: 100%;
  width: 30%;
  text-align: center;
  line-height: 0.839979rem;
}
[data-dpr='1'] .bottom > .dl > span {
  font-size: 16px;
}
[data-dpr='2'] .bottom > .dl > span {
  font-size: 32px;
}
[data-dpr='3'] .bottom > .dl > span {
  font-size: 48px;
}
.bottom > .dl > span.back {
  width: 38%;
  float: right;
}
.bottom > .dl > span.back a {
  display: inline-block;
}
.bottom > .top {
  margin-top: 0.346658rem;
  text-align: center;
}
[data-dpr='1'] .bottom > .top {
  font-size: 16px;
}
[data-dpr='2'] .bottom > .top {
  font-size: 32px;
}
[data-dpr='3'] .bottom > .top {
  font-size: 48px;
}
.bottom > .top span {
  color: red;
}
[data-dpr='1'] .bottom > .top span {
  font-size: 20px;
}
[data-dpr='2'] .bottom > .top span {
  font-size: 40px;
}
[data-dpr='3'] .bottom > .top span {
  font-size: 60px;
}
.bottom > .man {
  margin-top: 0.13333rem;
  text-align: center;
}
